<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GachiChat</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <header><strong><em>GachiGramm</em></strong></header>
    </div>
    <div class="main">
        <vc:room></vc:room>
        <div class="chat">
            @RenderBody()
        </div>
    </div>
    <div class="modal" id="create-room-modal">
        
        <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create New Room</header>
            <div>
                <input name="name">
            </div>
            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)

</body>
</html>
