<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GachiChat</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <header><strong><em>GachiGramm</em></strong></header>
    </div>
    <div class="main">
        <div class="side-menu">
            <a class="room-button" href="#">
                Room
            </a>
            <a class="room-button" href="#">
                <strong>+</strong>
            </a>
        </div>
        <div class="chat">
            @RenderBody()
        </div>
    </div>
</body>
</html>
