<div class="chat-body">
    <div class="message">
        <header>Mark:</header>
        <p>Hello Vlad!</p>
        <footer>14:03</footer>
    </div>
    <div class="message">
        <header>Vlad:</header>
        <p>Hi Mark!</p>
        <footer>14:13</footer>
    </div>
    <div class="message">
        <header>Spam:</header>
        <p>
            Для удобного сохранения и извлечения объектов из файлов xml может использоваться класс XmlSerializer. Во-первых, XmlSerializer предполагает некоторые ограничения. Например, класс, подлежащий сериализации, должен иметь стандартный конструктор без параметров. Также сериализации подлежат только открытые члены. Если в классе есть поля или свойства с модификатором private, то при сериализации они будут игнорироваться.
        </p>
        <footer>14:13</footer>
    </div>
</div>
<div class="chat-input">
    <input type="text" name="Type your message here" value="" />
    <button>Send</button>
</div>